body {
    background: rgb(110,33,138);
    background: radial-gradient(circle, rgba(110,33,138,1) 0%, rgba(70,43,73,1) 100%);
    background-size: no-repeat;
}

.container {
    padding: 15px;
}

.templates-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.25em;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.homepage-title {
    color: aliceblue;
    font-size: 2em;
    margin-bottom: 20px;
}

.box {
    margin: 15px;
}

.item {

    border: 1px solid #ccc;

    transition: box-shadow .3s;
    border-radius: 0.25em;
    padding: 2px;
    margin: 5px;
}

.item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s;
    padding: 5px;
    margin: 5px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.more-button {
    border-radius: 0.25em;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    background-color: #a43abe;
    color: white;
    transition: 0.3s;
    font-weight: 600;
}
.more-button:hover {
    background-color: #591c68;
}

.element {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
