html, body{
    height:100%;
    background: rgb(110,33,138);
    background: radial-gradient(circle, rgba(110,33,138,1) 0%, rgba(70,43,73,1) 100%);
}

.login-wrapper{
    display:table; height:100%; margin: 0 auto;
}

.login-box {
    display:table-cell; vertical-align:middle;
}

.login-form {
    border: 1;
    border-radius: 0.25em;
    background-color: #f2f2f2;
    padding: 1em;
    width: 300px;
}

.login-button {
    border-radius: 0.25em;
    border: none;
    outline: none;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    background-color: #a43abe;
    color: white;
    transition: 0.3s;
    font-weight: 600;
}

.login-button:hover {
    background-color: #591c68;
}

.form-item {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-label {
    margin-bottom: 5px;
    font-size: 0.8em;
}

.login-error {
    font-size: 0.85em;
    color: red;
    margin-top: 2px;
    margin-bottom: 2px;
}